@import "_colors";

.message {
  font-size: 16px;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;

  &-success {
    color: $green;
    border: 2px solid $green;
  }

  &-loading {
    color: $grey;
    border: 2px solid $grey;
  }

  &-error {
    color: $red;
    border: 2px solid $red;
  }
}